#screen {
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 10px 10px 5px #cccccc;
    border-radius: 10px;
}

#rand-freq {
    width: 10%;
    display: inline-block;
}

.vertical-space {
    margin-top: 4px;
    margin-bottom: 4px;
}

.justify-controls {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
